a{
	text-decoration:none;
}

img{
	max-width:100%;
}

input{
	width:100%;
	height:31px;
	line-height:31px;
	border: 1px solid #A5A5A5;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: $font-size-third;
}
